@model IEnumerable<videozid.Models.Koristi>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Od)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Do)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPodshemeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPrezentacijeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Od)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Do)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPodshemeNavigation.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPrezentacijeNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
